html{
    background: lightblue url("unnamed.jpg") no-repeat fixed center;
    background-size: cover;
}
body{
    width:1000px;
    height:1000px;

}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr 2fr);
    grid-column-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper>div{
        background:#eee;
        padding:1em;
}

.wrapper > div:nth-child(odd){
    background:#ddd;
}